@import "../../common_utilities/styles/variables";

.button {
    background-color: $darkGray;
    color: $grayBackground;
    border: none;
}

.dark-button:disabled {
    background-color: lightgrey;
  }